body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #121212; 
    z-index: -1; 
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    overflow: hidden;
    z-index: 20;
}

.nav-bar {
    background-color: #1f1f1f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transform: translateY(-100%);
    transition: transform 0.5s;
}

header .nav-bar {
    transform: translateY(0);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 20px 100px;
    display: block;
    transition: background-color 0.3s;
}

nav ul li a {
    background-color: #292929;
    border-radius: 75px;
}

.nav-bar .nav-link.active,
.nav-bar .nav-link:hover {
    background-color: #4a274e;
    border-radius: 15px;
}


.content-section {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #121212;
    z-index: 10;
    overflow-y: auto;
    animation: drop 1s forwards;
    opacity: 0;
}

.content {
    padding: 20px;
    margin: 50px auto;
    max-width: 800px;
    text-align: center;
}

.content h1 {
    color: #e0e0e0;
}

.content-section.active {
    display: block;
    animation: drop 1s forwards;
}

@keyframes drop {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }
    100% {
        transform: scaleY();
        opacity: 1;
    }
}

.close-btn {
    position: absolute;
    top: 80px;
    right: 20px;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
}

.skills-list, .social-links {
    list-style: none;
    padding: 0;
}

.skills-list li, .social-links li {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.skills-list img, .social-links img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.social-links a {
    color: #ffffff;
    text-decoration: none;
}

.social-links a:hover {
    text-decoration: underline;
}


.welcome-section {
    margin: 75px;
}

.welcome-photo {
    margin: 50px;
}


.pc-specs-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.pc-image {
    max-width: 700px; 
    max-height: 600px; 
    margin-left: 500px; 
    margin-top: -425px;
}


.social-link_nsfw {
    margin-top: 500px;
    opacity: 0%;
}

.social-link_nsfw:hover {
    opacity: 100%;
}

.subcategories {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.subcategory-btn {
    background-color: #292929;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.subcategory-btn:hover,
.subcategory-btn.active {
    background-color: #59305e;
}

.photo-category {
    display: none;
}

.photo-category img {
    width: 100%;
    max-width: 300px;
    margin: 10px;
    border-radius: 15px;
    border: 5px solid #4a274e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.photo-category img:hover {
    border-radius: 5px;
    border: 5px solid #74367a;
}

.photo-category.active {
    display:table-row;
    height: 400px;
    align-content: space-evenly;
}






.photo-category img:hover {opacity: 0.7;}


/* Mobile styles */
@media (max-width: 768px) {
    header {
        height: 40px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
    }

    nav ul li a {
        padding: 10px 50px;
    }

    .content {
        margin: 20px auto;
        padding: 10px;
    }

    .welcome-section, .welcome-photo {
        margin: 20px;
    }

    .pc-specs-container {
        flex-direction: column; 
        align-items: flex-start; 
    }

    .pc-image {
        margin-left: 0;
        margin-top: 20px;
        max-width: 100%;
        max-height: auto;
    }

    .social-link_nsfw {
        margin-top: 20px;
    }
}
